.mobile-nav {
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  background: white;
  z-index: 100001;
  width: 320px;
  right: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;

  &__close-icon{
    margin-right: 20px !important;
    margin-bottom: 30px;
    cursor: pointer;
  }

  .top-nav__container__search {
    display: flex;
    width: 260px;
  }

  .top-nav__container__actions {
    display: flex;
    margin-top: 15px;
    max-width: 270px;
  }

  .side-nav {
    display: flex;
    width: 100%;
    position: static;
    overflow-y: visible;
  }

  & > * {
    margin-left: auto;
    margin-right: auto;
  }
}
