.password-input-container {
  width: 100%;
  position: relative;
  max-height: 50px;
  display: flex;
  align-items: center;

  .change-visibility {
    position: absolute;
    right: 17px;
    font-family: "Avenir Next", sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #39CDCC;
  }

  input {
    margin-bottom: 0px !important;
    background: #ffffff;
    border: 2px solid rgba(84, 95, 125, 0.15);
    border-radius: 5px;
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;

    
  }
}
