.side-nav {
  display: flex;
  flex-direction: column;
  padding-top: 39px;  
  padding-bottom: 30px;
  grid-area: side-nav;
  position: fixed;
  overflow-y: scroll;
  top:100px;
  bottom: 0px; 
  width: 17%;

  @media (max-width: 1000px) {
    display: none;
  }

  .nav-item {
    display: flex;
    align-items: center;
    padding-left: 30px;
    min-height: 40px;
    height: 40px;
    margin-top: 15px;

    
    svg:nth-of-type(1) {
      position: absolute;
    }

    svg:nth-of-type(2){
      position: absolute;
      right: 10px
    }


    span {
      margin-left: 30px;
      margin-right: 12px;
      font-family: "Work Sans", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #8b9abb;
    }

    &.highlight span {
      color: #213f7d;
    }

    &.selected {
      background: rgba(#39cdcc, 0.06);
      border-left: 3px solid #39CDCC;

      span {
        color: #213f7d;
      }
    }
  }

  .nav-group-title {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    padding-left: 30px;
    color: #545f7d;
    margin-top: 31px;
    margin-bottom: 10px;
  }
}
