.logo {
  margin-left: 97px;
  margin-top: 107px;
  margin-bottom: 73px;

  @media (max-width: 575.98px) {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

.login-page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > div {
    max-width: 100%;
  }

  img {
    margin-left: 67px;
    max-width: 100%;
  }

  @media (max-width: 1199.98px) {
    img {
      margin-left: 20px;
    }
  }

  @media (max-width: 575.98px) {
    flex-direction: column-reverse;

    & > div {
      max-width: 100%;
    }

    img {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
    }
  }
}

.login-form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 100px;
  padding-right: 157px;
  margin-top: -100px;

  @media (max-width: 1199.98px) {
    padding-left: 40px;
    padding-right: 40px;
    width: 80%;
  }

  @media (max-width: 575.98px) {
    width: 100%;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }

  & > h2 {
    font-family: "Avenir Next", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: -0.04em;
    color: #213f7d;
    margin-bottom: 10px;
  }
  & > p {
    font-family: "Avenir Next", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    color: #545f7d;
  }

  & > form {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 24px;
      background: #ffffff;
      border: 2px solid rgba(84, 95, 125, 0.15);
      border-radius: 5px;
      height: 50px;
      padding-left: 16px;
      padding-right: 16px;

      font-family: "Avenir Next", sans-serif ;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #545f7d;

      opacity: 0.6;

      &:focus {
        border-color: #39cdcc;
        outline-width: 0;
      }
    }

    p {
      font-family: "Avenir Next", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: #39cdcc;
    }

    & > button {
      background: #39cdcc;
      border-radius: 8px;
      border: 0.1rem solid #39cdcc;
      padding-top: 14px;
      padding-bottom: 14px;
      color: white;
      margin-top: 30px;

      font-family: "Avenir Next", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;

      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }
}
