.page-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #213f7d;
  margin-left: 60px;
  margin-top: 60px;

  @media (max-width: 599px) {
    margin-left: 20px;
    margin-top: 20px;
  }
}

.users-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 60px;
  padding-right: 60px;
  gap: 26px;
  margin-top: 40px;

  @media (max-width: 1199.98px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (max-width: 599px) {
    grid-template-columns: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__single-info {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding-top: 20px;
    padding-left: 30px;

    @media (max-width: 1199.98px) {
      padding-left: 15px;
    }

    p:nth-of-type(1) {
      margin-top: 14px;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: #545f7d;
    }

    p:nth-of-type(2) {
      margin-top: 12px;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      color: #213f7d;
    }
  }
}

.table-container {
  margin: 60px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  overflow-x: auto;

  @media (max-width: 1199.98px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 96vw;
  }

  @media (max-width: 865px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 93vw;
  }

  & table {
    width: 100%;

    & .table-heading {
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: #545f7d;
      text-align: start;
      padding-top: 30px;
      padding-bottom: 30px;
      cursor: pointer;

      span {
        margin-right: 10px;
      }

      &:first-child {
        padding-left: 30px;
      }

      @media (max-width: 1199.98px) {
        &:first-child {
          padding-left: 15px;
        }
      }

      @media (max-width: 865px) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .popover-panel {
      background: #ffffff;
      border: 1px solid rgba(84, 95, 125, 0.14);
      box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
      margin-top: 15px;
      position: absolute;
      z-index: 10;
    }

    .filter-container {
      display: flex;
      flex-direction: column;
      width: 270px;
      padding-top: 30px;
      padding-left: 20px;
      padding-right: 20px;
      background: white;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #545f7d;

      .form-label {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #545f7d;
        text-transform: capitalize;
      }

      .form-control {
        width: 100%;
        background: #ffffff;
        border: 1px solid rgba(#213f7d, 0.2);
        border-radius: 8px;
        height: 40px;
        margin-top: 6px;
        margin-bottom: 20px;

        padding-left: 20px;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: rgba(#545f7d, 0.7);
      }

      input.form-control {
        &::placeholder {
          color: rgba(#545f7d, 0.7);
        }
        &:focus {
          outline-width: 0;
          border: 2px solid #39cdcc;
        }
      }

      .form-control.select-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 16px;
      }

      .button-group {
        display: flex;
        margin-bottom: 28px;

        button {
          height: 40px;
          padding-left: 30px;
          padding-right: 30px;
          border-radius: 8px;
        }

        button:first-child {
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #545f7d;
          border: 1px solid #545f7d;
          background: transparent;
          margin-right: 14px;
        }

        button:last-child {
          background: #39cdcc;
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
          display: flex;
          align-items: center;
          text-align: center;

          color: #ffffff;
          border: 1px solid #39cdcc;
        }
      }
    }

    & .table-data {
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      padding-top: 23px;
      padding-bottom: 23px;
      position: relative;

      color: #545f7d;
      border-bottom: 1px solid rgba(33, 63, 125, 0.1);
      &__status__active {
        background: rgba(#39cd62, 0.06);
        border-radius: 100px;
        padding: 6px 14px;
        text-transform: capitalize;
        color: #39cd62;
      }

      &:first-child {
        padding-left: 30px;
      }

      @media (max-width: 1199.98px) {
        &:first-child {
          padding-left: 15px;
        }
      }

      &:last-child {
        padding-right: 15px;
      }

      @media (max-width: 865px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      .dropdown-container {
        position: absolute;
        z-index: 10;
        right: 0;
        width: 180px;
        margin-top: 20px;
        background: #ffffff;
        border: 1px solid rgba(#545f7d, 0.04);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        outline-width: 0px;
        border-radius: 4px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
      }

      .dropdown-button {
        display: flex;
        align-items: center;
        width: 100%;
        background: transparent;
        border: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;

        span {
          margin-left: 10px;
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: #545f7d;
          text-transform: capitalize;
        }
      }
    }
  }
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #545f7d;

  @media (max-width: 1199.98px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 96vw;
  }

  @media (max-width: 865px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 93vw;
  }

  .page-picker { 
    
    & > *{
      margin-left: 20px;
    }

    span.highlight{
      color: #545F7D;
    }

    button {
      height: 24px;
      width: 24px;
      background: rgba(33, 63, 125, 0.1);
      border-radius: 4px;
      border: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }

  .per-page-picker-container {
    display: inline;
    width: 80px;
    max-width: 80px;
    position: relative;

    .per-page-options {
      list-style-type: none;
      background: #e8ebf2;
      border-radius: 4px;
      width: 80px;
      max-width: 80px;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 10;
      left: 0;
      top: -180px;
      * {
        margin-right: 20px;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;

        color: #213f7d;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    .per-page-picker-button {
      background: rgba(33, 63, 125, 0.1);
      border-radius: 4px;
      padding: 7px 12px;
      outline-width: 0;
      border: 0;

      span {
        margin-right: 20px;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;

        color: #213f7d;
      }
    }
  }
}
